@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/scss/functions";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/scss/variables";
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/scss/mixins";
//FONTSIZE FINO A .FS-10
$font-sizes: map-merge(
  $font-sizes,
  (
    7: 0.75rem,
    8: 0.7rem,
    9: 0.65rem,
    10: 0.6rem,
  )
);

//BORDER-WIDTH FINO A .BORDER-10
$border-widths: map-merge(
  $border-widths,
  (
    6: 6px,
    7: 7px,
    8: 8px,
    9: 9px,
    10: 10px,
  )
);

//Padding bottoni
$btn-padding-y: 0.75rem;
$btn-padding-x: 2.5rem;

//Cambio gutter default
$grid-gutter-width: 0.5rem;

//Stile cards
$card-bg: $dark;
$card-color: $info;
$card-border-radius: 2rem;

//Colori
$danger: #1f0077;
$info: #00ffea;
$light: #feefff;

//EPICOLORS :)
$theme-colors: map-merge(
  $theme-colors,
  (
    "epicode-1": #5726c3,
    "epicode-2": #8625a5,
    "epicode-3": #cb2376,
  )
);

//Border radius pill
$badge-border-radius: 9999px;
$input-border-radius: 9999px;
$btn-border-radius: 9999px;

//New breakpoints e container
$grid-breakpoints: map-merge(
  $grid-breakpoints,
  (
    3xl: 1600px,
    4xl: 1800px,
  )
);

$container-max-widths: map-merge(
  $container-max-widths,
  (
    3xl: 1520px,
    4xl: 1720px,
  )
);

@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/scss/bootstrap";

// Sezione card
.card-saldi {
  @extend .card;
  @extend .border;
  @extend .border-6;
}

//Offerta del giorno
.offerta-img {
  @extend .border;
  @extend .border-10;
  border-color: $info !important;
  border-radius: 1rem;
}

.btn-outline-epicode-2 {
  @extend .btn;
  @extend .btn-outline-primary;
  --bs-btn-color: #8625a5;
  --bs-btn-border-color: #8625a5;
  --bs-btn-hover-bg: #8625a5;
  --bs-btn-hover-border-color: #8625a5;
  --bs-btn-hover-color: #fff;
}
